<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    <h4>This program will solve that at the first input row, 
      at least 1 given integer can be dividible or not by the multiply of the integers from middle and right one. Enter 1 int to middle and right input spaces.
    </h4>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
