<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    <h4>This program will solve that at the first input row, 
      given integers can be dividibleor not by the multiply of the integers from middle and right one. Inputs on the middle and right areas are limited in order to make user-experiance better.
    </h4>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea maxlength="1" name="input2" rows="10" cols="30"></textarea>
        <textarea maxlength="1" name="input3" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
